<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('components/admin-web/head') %>
    </head>
    <body class="sb-nav-fixed">
        <%- include('components/admin-web/navbar') %>
        <%- include('components/admin-web/sidenav') %>

        <!-- Modal Thêm/Chỉnh Sửa Truyện -->
        <% include('components/admin-web/comicModal') %>

        <!-- Modal Thêm/Chỉnh Sửa Chương -->
        <% include('components/admin-web/chapterModal') %>

        <!-- Modal Hiển Thị Chương -->
        <% include('components/admin-web/chapterDisplayModal') %>

        <!-- Modal Thêm/Chỉnh Sửa Người Dùng -->
        <% include('components/admin-web/userModal') %>

        <!-- Modal Thêm/Chỉnh Sửa Thể Loại -->
        <% include('components/admin-web/genreModal') %>

        <!-- Modal Thông Tin Tài Khoản -->
        <%- include('components/admin-web/accountInfo') %>

        <!-- Modal Đổi Mật Khẩu -->
        <%- include('components/admin-web/changePassword') %>

        <!-- Modal Thêm Người Dùng Vào Danh Sách Đen -->
        <%- include('components/admin-web/blacklistModal') %>

        <!-- Modal Xem Chi Tiết Báo Cáo -->
        <%- include('components/admin-web/reportModal') %>

        <%- include('components/admin-web/scripts') %>
        
    </body>
</html>