<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <%- include('components/index/head') %>
</head>
<body class="d-flex flex-column h-100 sb-nav-fixed">
    <!-- Toast thông báo khi báo cáo thành công -->
<%- include('components/index/report') %>

<!-- Sidenav and Content wrapper -->
<div id="layoutSidenav">
    <!-- Side Navigation -->
    <%- include('components/index/sidenav') %>
    <%- include('components/index/layoutsidenav') %>

    
    


    
<!-- Offcanvas nơi hiển thị sau tìm kiếm -->
<%- include('components/index/offcanvasSearch') %>
<!-- Modal đăng nhập -->
<%- include('components/index/login') %>
<!-- Modal đăng ký -->
<%- include('components/index/register') %>

<br><br><br>



<!-- Modal điều khoản dịch vụ -->
<%- include('components/index/dieukhoandv') %>
<!-- Modal quyền riêng tư -->
<%- include('components/index/quyenriengtu') %>

<!-- Modal lịch sử -->
<%- include('components/index/history') %>  
              
<!-- Modal card -->
<%- include('components/index/card') %>
<!-- Modal báo cáo sự cố -->
<%- include('components/index/report') %>

<!-- Modal Bảng Xếp Hạng -->
<%- include('components/index/ranking') %>

<!-- Modal Cài đặt (Trung tâm tài khoản - Modal 1) -->
<%- include('components/index/accountSettings') %>

<!-- Modal Mật khẩu và bảo mật (Modal 2) -->
<%- include('components/index/security') %>

<!-- Modal Đổi mật khẩu (Modal 3) -->
<%- include('components/index/changePassword') %>

<!-- Modal Thông tin tài khoản -->
<% include('components/index/accountInfo') %>
  
<%- include('components/index/notification') %>
    
    
</div>

<%- include('components/index/navbar') %>


<!-- Theme dropdown đã được thay thế bằng nút toggle trong navbar -->

<br>

<%- include('components/index/JavaScripts') %>
</body>
</html>